{% extends 'base.html.twig' %}

{% block body %}
    <div class="max-w-4xl mx-auto p-6">
        <h1 class="text-2xl font-bold text-pink-900 mb-6">Create a New Task</h1>

        {% if errors is defined and errors|length > 0 %}
            <ul class="mb-4 text-red-600">
                {% for error in errors %}
                    <li class="mb-2">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST" action="{{ path('tasks_store') }}" class="space-y-4">
            <div>
                <label for="title" class="block text-sm font-medium after:content-['*'] after:text-red-500">Title:</label>
                <input type="text" id="title" name="title" required class="w-full p-2 border border-gray-300 rounded bg-white">
            </div>

            <div>
                <label for="description" class="block text-sm font-medium">Description:</label>
                <textarea id="description" name="description" class="w-full p-2 border border-gray-300 rounded bg-white"></textarea>
            </div>

            <div>
                <label for="project_id" class="block text-sm font-medium">Project:</label>
                <select id="project_id" name="project_id" class="w-full p-2 border border-gray-300 rounded bg-white">
                    <option value="">Select a Project</option>
                    {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="w-full bg-pink-900 text-white py-2 rounded hover:bg-pink-800 hover:cursor-pointer">Add Task</button>
        </form>

        <div class="mt-4">
            <a href="{{ path('tasks_index') }}" class="text-pink-900 hover:underline">Back to Task List</a>
        </div>
    </div>
{% endblock %}
